.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background: #cb923e;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 5rem;
    cursor: pointer;
}

.buttons_container {
    display: flex;
    gap: 1rem;
}

.prev-btn {
    width: 5rem;
    background: #87261c;
}

.cards_container{ 
    display: grid;
    gap: 1rem;
    place-content: center;
}

.logo {
    background: radial-gradient(100% 100% at 100% 0%, #cb923e 0%, #87261c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    letter-spacing: .08em;
}