button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background: #00C896;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
}

.buttons_container {
    display: flex;
    gap: 1rem;
}

.prev-btn {
    background: none;
    color: #00C896;
    border: 2px solid #00C896;
    
}

.cards_container{ 
    display: grid;
    gap: 1rem;
    place-content: center;
}